.godeps
/configureMSI

/WebServer/server
/WebServer/downloads
/WebServer/public/index.html
/WebServer/public/js/main.js
/WebServer_old

/CallbackServer/server
/CallbackServer/uploaded
/CallbackServer/updates
/frontend/node_modules

*.pyc
/utilities/createTask/createTask
/bin
/utilities/commander/commander
/.idea
