{{define "auth/forgot_password"}}
      <form class="form-horizontal" method="post" data-parsley-validate>
        <input type="hidden" name="csrf_token" value="{{ .csrf_token }}">
      <fieldset>
        <legend>Forgot password</legend>
        {{range .Flash}}
          <div class="alert alert-danger">{{.}}</div><p>
        {{end}}

        <div class="form-group">
          <label class="col-md-4 control-label"></label>
          <div class="col-md-6">
            <span style="font-size:90%;">An email will be sent to your account with further instructions.</a></span>
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-4 control-label" for="email">Email</label>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <input id="email" name="email" type="email" placeholder="Email address" class="form-control input-md" required="" data-parsley-required-message="Please enter your email">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label" for="signin"></label>
          <div class="col-md-4">
            <button id="signin" name="signin" class="btn btn-primary">Send password reset email</button>
          </div>
        </div>

      </fieldset>
      </form>
{{end}}
