{{define "footer"}}
	<div id="footer" class="footer">
	  <div class="container">
	    <p class="text-muted">&copy; Summit Route LLC 2015 &mdash; <a href="/privacy_policy">Privacy Policy</a> &mdash; <a href="/terms_and_conditions">Terms of Use</a>
	  </div>
	</div>

	<script src="/assets/js/jquery-1.11.0.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/parsley.min.js"></script>
	<script src="/assets/js/jquery.dataTables.min.js"></script>
	<script src="/assets/js/dataTables.bootstrap.js"></script>

	<script src="/assets/js/srepp.js"></script>

	{{.Scripts}}
	</body>

	</html>
{{end}}
