{{define "help"}}
    <h1>Help</h1>
    Summit Route End Point Protection is software to protect your system.

    <h2>Support</h2>
    Contact us at <a href="mailto:support@SummitRoute.com">support@SummitRoute.com</a>

    <h2>Uninstall</h2>
    To uninstall the agent, you must have Administrator privileges.  To install follow these steps depending on your operating system:
    <ul>
      <li>Windows Vista and Windows 7
        <ol>
          <li>Click the Start Menu and select "Control Panel".
          <li>In the Control Panel window, click on "Add or Remove Programs".
          <li>Right-click "Summit Route EPP" from the list and select "Uninstall".
        </ol>
      <li>Windows 8</li>
        <ol>
          <li>From the Start Screen, click the Desktop tile. The Desktop view will open.
          <li>From the Desktop, hover in the lower right-hand corner to access the Charms.
          <li>Select Control Panel from the Settings charm. The Control Panel window will open.
          <li>In the Control Panel window, click the "Uninstall a program" link under the Programs section.
          <li>Right-click "Summit Route EPP" from the list and select "Uninstall".
        </ol>
      </ul>

{{end}}
