{{define "privacy"}}
<h1>Summit Route Privacy Policy</h1>
<p>Posted: October 31, 2014<br>
Effective: October 31, 2014<br>

<p>Here we describe how we collect, use and handle your information when you use our websites, software and services ("Services").

<h2>What &amp; Why</h2>
<p>We collect and use the following information to provide, improve and protect our Services:

<p><strong>Account.</strong> We collect, and associate with your account, information like your name, email address, phone number, payment info, and physical address.

<p><strong>Services.</strong> When you use our Services, we store, process and transmit file hashes, executable &amp; cabinet files, Authenticode signatures, and other data relevant to understanding what processes, libraries, and drivers are loaded and their provenance.

<p><strong>Usage.</strong> We collect information from and about the devices you use to access the Services. This includes things like IP addresses, the type of browser and device you use, the web page you visited before coming to our sites, and identifiers associated with your devices. Your devices (depending on their settings) may also transmit location information to the Services.

<p><strong>Cookies and other technologies.</strong> We use technologies like cookies to provide, improve, protect and promote our Services. For example, cookies help us with things like remembering your username for your next visit, understanding how you are interacting with our Services, and improving them based on that information. You can set your browser to not accept cookies, but this may limit your ability to use the Services. If our systems receive a DNT:1 signal from your browser, we'll respond to that signal as outlined here.

<h2>With whom</h2>
<p>We may disclose your information to third parties if we determine that such disclosure is reasonably necessary to (a) comply with the law; (b) protect any person from death or serious bodily injury; (c) prevent fraud or abuse of Summit Route or our users; or (d) protect Summit Route's property rights.

<p>Stewardship of your data is critical to us and a responsibility that we embrace. We believe that our users' data should receive the same legal protections regardless of whether it's stored on our services or on their home computer's hard drive. We'll abide by our Government Request Principles when receiving, scrutinizing and responding to government requests for our users' data.

<h2>Government Data Requests Principles</h2>
<p>We understand that when you entrust us with your digital life, you expect us to keep your stuff safe. Like most online services, we sometimes receive requests from governments seeking information about our users. These principles describe how we deal with the requests we receive and how we’ll work to try to change the laws to make them more protective of your privacy.

<p><b>Be transparent:</b> Online services should be allowed to report the exact number of government data requests received, the number of accounts affected by those requests, and the laws used to justify the requests.

<p><b>Fight blanket requests:</b>  Government data requests should be limited to specific people and investigations. We'll resist requests directed to large groups of people or that seek information unrelated to a specific investigation.

<p><b>Protect all users:</b>  Laws authorizing governments to request user data from online services shouldn't treat people differently based on their citizenship or where they live.

<p><b>Provide trusted services:</b>  Governments should never install backdoors into online services or compromise infrastructure to obtain user data. We'll continue to work to protect our systems and to change laws to make it clear that this type of activity is illegal.


<h1>How</h1>
<p><b>Security.</b> We are dedicated to keeping your information secure and testing for vulnerabilities. We also continue to work on features to keep your information safe.

<p><b>Retention</b>. We'll retain information you store on our Services for as long as we need it to provide you the Services. If you delete your account, we'll also delete this information. But please note: (1) there might be some latency in deleting this information from our servers and back-up storage; and (2) we may retain this information if necessary to comply with our legal obligations, resolve disputes, or enforce our agreements.

<h1>Where</h1>
<b>Around the world.</b> To provide you with the Services, we may store, process and transmit information in locations around the world - including those outside your country. Information may also be stored locally on the devices you use to access the Services.

<h1>Changes</h1>
<p>If we are involved in a reorganization, merger, acquisition or sale of our assets, your information may be transferred as part of that deal. We will notify you (for example, via a message to the email address associated with your account) of any such deal and outline your choices in that event.

<p>We may revise this Privacy Policy from time to time, and will post the most current version on our website. If a revision meaningfully reduces your rights, we will notify you.

<h1>Contact</h1>
Have questions or concerns about Summit Route, our Services and privacy? Contact us at <a href="mailto:security@SummitRoute.com">security@SummitRoute.com</a>
{{end}}
