{{define "terms_and_conditions"}}
    <h1>Terms and Conditions</h1>
<p>IMPORTANT - READ THESE TERMS CAREFULLY BEFORE DOWNLOADING OR USING SUMMIT ROUTE END-POINT PROTECTION SUMMIT ROUTE.
BY DOWNLOADING, INSTALLING OR USING THIS PROGRAM, OR BY CLICKING ON "I ACCEPT", YOU ACKNOWLEDGE THAT YOU HAVE READ THIS LICENSE AGREEMENT,
THAT YOU UNDERSTAND IT, AND THAT YOU AGREE TO BE BOUND BY ITS TERMS.
IF YOU DO NOT AGREE TO THE TERMS AND CONDITIONS OF THIS LICENSE AGREEMENT,
DO NOT DOWNLOAD OR INSTALL THE PROGRAM OR CLICK ON "I ACCEPT".

<p>This End-User License Agreement (the "Agreement") is a legal contract between you, as either an individual or as a business entity,
and Summit Route LLC ("Summit Route"), which has its principal place of business at 514 Americas Way #5915, Box Elder, South Dakota, 57719.

<ol>
<li><b>Grant of License for Registered Users</b>
  <ol>
    <li> Summit Route grants you a limited, non-exclusive, revocable, and non-transferable license to
      download, install, back-up, and use Summit Route End-Point Protection,
      including any documentation files or website information accompanying it (collectively, the "Program"),
      on as many computers as your license permits provided that:
      <ol>
        <li> the Program is NOT modified in any manner;
        <li> all copyright and proprietary notices or labels are maintained on the Program in their original format;
        <li> you posses the necessary authority and power to install the Program on the computers, and
        <li> you agree to be bound by the terms of this License Agreement.
      </ol>
    <li>For purposes of this Agreement, the "Program" includes any updates, enhancements, modifications, revisions, or additions to the Program made by Summit Route,
      or a properly licensed affiliate,
      and made available to you through Summit Route's, or a properly licensed affiliate's, web site.
      As such, this Agreement shall also apply to any and all updates, supplements, add-on components, or Internet-based services components,
      of the Program that Summit Route may provide to you or make available to you after the date you obtain your initial copy of the Program,
      unless Summit Route provides other terms along with the update, supplement, add-on component, or Internet-based update services component.
      Summit Route reserves the right to discontinue any Internet-based update services provided to you or made available to you through the use of the Program.
      Notwithstanding the foregoing, Summit Route shall be under no obligation to provide any updates, enhancements, modifications, revisions, or additions to the software.
      You may not use, copy, modify, sell, or transfer any part of the Program except as provided in this Agreement.

    <li>Any rights in the Program not expressly granted in this Agreement are reserved by Summit Route.

    <li>The Program contains components that enable and facilitate the use of certain Internet-based update services.
      You acknowledge and agree that Summit Route may automatically check the version of the Program and/or its components that you are utilizing
      and may provide upgrades or fixes to the Software that will be automatically downloaded to your computer.
      You may turn off automatic updates of the Program once installed, but initial settings will cause the Program to download and retrieve updates automatically without further user input.
      Opting out of updates may also cause some functionality to not work as expected.
  </ol>




<li><b> Ownership</b>
<ol>
  <li>The Program is being licensed, not sold, and Summit Route expressly reserves and maintains at all times all ownership rights in and to the Program,
including any intellectual property rights therein.
This License shall not be construed to grant any ownership rights in the Program to you,
but shall only give you a limited license to use the Program until this Agreement is terminated,
as set forth in Section 7.
You acknowledge that the Program, including all intellectual property rights under copyright, trade secret, patent, or trademark laws,
is owned by Summit Route and/or its licensors.
Summit Route may pursue all legal remedies if you use the Software in violation of this Agreement.

  <li>You acknowledge that if you use the Program in violation of this Agreement (including, without limitation, by copying,
    distributing or making derivatives of the Program), you may be subject to CRIMINAL AND/OR CIVIL FINES AND PENALTIES under all applicable laws.

  <li>Summit Route has the right to gather information regarding the use of the Program and by installing the software, you grant Summit Route permission to collect this information.
    Summit Route may use this information solely to improve its products or to track geographical data and the enforcement of its license agreement and
    will not disclose this information in a form that could personally identify you to any third party.
</ol>




<li><b>Copyright</b>
<ol>
  <li>The Program contains material that is protected by United States and foreign intellectual property laws, including copyright, trade secret and patent law,
    as well as by international laws and treaty provisions.
    All rights not granted to you herein are expressly reserved by Summit Route.
    You may not remove any copyright or other proprietary notice of Summit Route from any copy of the Program.
</ol>



<li><b>Restrictions</b>
<ol>
  <li>You may not publish, display, disclose, rent, lease, sell, resell, modify, loan, distribute, or create derivative works based on the Program or any part thereof.
    You may not reverse engineer, decompile, translate, adapt, vary, alter, change, modify, or disassemble the Program,
    nor shall you attempt to create the source code from the object code for the Program.
    The Program may not be used with any third party signatures or signature databases.
    All signature file or database used with the Program must be ones developed and maintained by Summit Route.
  <li>As a condition of your use of the Program, you warrant that you will not use the Program for any purpose that is unlawful or is prohibited by these terms, conditions, and notices.
    You agree to comply with all local rules applicable to you in your use of the Program.
    You agree not to reproduce, resell or exploit for any commercial purposes, any portion of the Program.
    If you violate any of these terms, your permission to use the Program automatically terminates.
  <li>The Program is provided solely for lawful purposes and use.
    You agree to supervise and control the use of the Program in accordance with the terms of this Agreement.
    You shall be solely responsible for, and agree to comply with, all laws, statutes, ordinances, regulations, rules and other government authority ('Laws')
    applicable to the use of the Program.
    The Program is provided subject to this standard commercial agreement and qualifies as commercial computer software within the meaning of the applicable government acquisition Laws.
  <li>THIS LICENSE AGREEMENT IS EXPRESSLY MADE SUBJECT TO ANY LAWS, REGULATIONS, ORDERS, OR OTHER RESTRICTIONS ON THE EXPORT FROM THE UNITED STATES OF AMERICA OF
    THE PROGRAM OR INFORMATION ABOUT SUCH PROGRAM WHICH MAY BE IMPOSED FROM TIME TO TIME BY THE GOVERNMENT OF THE UNITED STATES OF AMERICA.
    YOU SHALL NOT EXPORT THE PROGRAM OR INFORMATION ABOUT THE PROGRAM WITHOUT CONSENT OF SUMMIT ROUTE AND COMPLIANCE WITH SUCH LAWS, REGULATIONS, ORDERS, OR OTHER RESTRICTIONS.
    UNDER NO CIRCUMSTANCES MAY YOU DOWNLOAD THE PROGRAM IF YOU ARE WITHIN OR A CITIZEN OF IRAN, SYRIA, SUDAN, LIBYA, CUBA, RWANDA OR NORTH KOREA.
  <li>The terms and conditions of this Agreement shall apply to your use and disclosure of the Program, and shall supersede any conflicting contractual terms and conditions.
    If this Agreement fails to meet your minimum needs or is inconsistent in any respect with government procurement Laws, you agree not to use the Program.
</ol>



<li><b>Disclaimer of Warranties</b>
<ol>
  <li>THE PROGRAM IS PROVIDED TO YOU "AS IS" BY SUMMIT ROUTE, AND ANY USE BY YOU OF THE PROGRAM IS AT YOUR OWN RISK.
    You acknowledge that the program may contain bugs, errors, and other problems that could cause system or other failures and data loss.
    SUMMIT ROUTE DOES NOT WARRANT THE PERFORMANCE OF THE PROGRAM AND DOES NOT WARRANT THAT THE PROGRAM WILL OPERATE SUBSTANTIALLY
    IN ACCORDANCE WITH THE DOCUMENTATION ACCOMPANYING THE PROGRAM.
  <li>TO THE MAXIMUM EXTENT PERMITTED BY LAW, SUMMIT ROUTE DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESSED OR IMPLIED,
    IN EQUITY OR AT LAW, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
    SUMMIT ROUTE DOES NOT WARRANT THAT THE FUNCTIONS CONTAINED IN THE PROGRAM WILL MEET ANY REQUIREMENTS OR NEEDS YOU MAY HAVE,
     OR THAT THE PROGRAM WILL OPERATE ERROR FREE, OR IN AN UNINTERRUPTED FASHION, OR THAT ANY DEFECTS OR ERRORS IN THE PROGRAM WILL BE CORRECTED,
     OR THAT THE PROGRAM IS COMPATIBLE WITH ANY PARTICULAR PLATFORM.
     SOME JURISDICTIONS DO NOT ALLOW THE WAIVER OR EXCLUSION OF IMPLIED WARRANTIES SO THEY MAY NOT APPLY TO YOU.
     SUMMIT ROUTE MAKES NO WARRANTY THAT SUMMIT ROUTE WILL PROVIDE YOU WITH THE MOST RECENTLY DEVELOPED OR DISTRIBUTED VERSION OF THE SOFTWARE.
     YOU SHALL BEAR THE ENTIRE RISK AS TO THE QUALITY AND PERFORMANCE OF THE PROGRAM.
</ol>



<li><b>Limitation of Liability</b>
<ol>
  <li>YOU RECOGNIZE THAT DESPITE THE INTENT, DESIGN, AND PURPOSE OF THE PROGRAM,
    ONLY YOU ARE ULTIMATELY RESPONSIBLE FOR ANY LOSSES OR DAMAGES INCURRED BY YOU AS A RESULT OF USING OR INSTALLING THE PROGRAM
    OR AS A RESULT OF ANY VIRUSES THAT MAY BE ON YOUR COMPUTER.
    IN NO CIRCUMSTANCES OR EVENT WILL SUMMIT ROUTE BE LIABLE TO YOU OR ANY OTHER PERSON OR ENTITY FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES
    (INCLUDING, WITHOUT LIMITATION, DIRECT OR INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR EXEMPLARY DAMAGES FOR LOSS OF BUSINESS,
    LOSS OF PROFITS OR REVENUE, BUSINESS INTERRUPTION, OR LOSS OF BUSINESS INFORMATION OR DATA) ARISING OUT OF THE USE OF OR
    INABILITY TO USE THE PROGRAM, OR FOR ANY CLAIM BY ANY OTHER PARTY, EVEN IF SUMMIT ROUTE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES OR IF THE DAMAGE WAS FORESEEABLE.
  <li>SUMMIT ROUTE'S AGGREGATE LIABILITY WITH RESPECT TO ITS OBLIGATIONS UNDER THIS AGREEMENT OR OTHERWISE WITH RESPECT TO THE PROGRAM
    OR OTHERWISE SHALL NOT EXCEED THE AMOUNT OF THE LICENSE FEE PAID BY YOU FOR THE PROGRAM.
    BECAUSE SOME STATES/COUNTRIES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.
</ol>





<li><b>Termination</b>
<ol>
  <li>This License Agreement is effective until it is terminated by you or by Summit Route.
    You may terminate this License Agreement at any time by destroying, deleting, erasing or returning to Summit Route all copies
    of the Program in your possession or under your control.
    Summit Route may terminate this License Agreement for any reason, including, but not limited to,
    if Summit Route finds that you have violated any of the terms of this License Agreement.
    Upon notification to you of termination by Summit Route, you agree to destroy, delete,
    erase or return to Summit Route all copies of the Program and to certify in writing or by email that all known copies, including backup copies, have been destroyed.
    All provisions relating to confidentiality, proprietary rights, and non-disclosure shall survive the termination of this License Agreement.
</ol>




<li><b>Indemnity</b>
<ol>
  <li>You agree to release, indemnify, defend and hold harmless Summit Route and any of its contractors,
    agents, employees, officers, directors, shareholders, affiliates and assigns from all liabilities,
    claims, damages, costs and expenses, including reasonable attorney's fees and expenses, of third parties relating to or arising out of
    <ol>
      <li>your entering into this Agreement, or your breach of the terms or obligations of this Agreement,
      <li>your use or misuse of the Program or the use or misuse of the Program by a third Party under your control, or
      <li>your infringement upon any intellectual property or other proprietary right of any person or entity.
    </ol>
    Summit Route may, at its own expense, assume the exclusive defense and control of any matter otherwise subject to indemnification by you,
    but its doing so shall not excuse your indemnity obligations in this EULA.
    The terms of this paragraph will survive any termination or cancellation of this Agreement.
</ol>




<li><b>Privacy</b>
<ol>
  <li>Summit Route has built its electronic services and products with your privacy and security in mind.
    To ensure your privacy, Summit Route periodically publishes a Privacy Statement that is incorporated by reference into this Agreement.
    You can view the Privacy Statement at <a href="https://SummitRoute.com/privacy-policy/">https://SummitRoute.com/privacy-policy/</a>.
    Please check this page periodically for changes in our privacy policy.
    By agreeing to the terms of this Agreement you acknowledge that you have read, understand and agree to the provisions of the Privacy Statement.
</ol>




<li><b>Governing Law</b>
<ol>
  <li>This License Agreement shall be construed, interpreted and governed by the laws of the State of Delaware without regard to conflicts of law provisions thereof.
    You agree that the exclusive forum for any disputes arising out of or relating to this License Agreement shall be an appropriate federal or state court sitting in Delaware, USA.
</ol>



<li><b>Severability</b>
<ol>
  <li>If any part of this License Agreement is found illegal, invalid, or unenforceable by a court of competent jurisdiction,
    the remainder of this License Agreement shall be interpreted so as to reasonably effect the intention of the parties.
</ol>



<li><b>Force Majeure</b>
<ol>
  <li>You agree not to hold Summit Route responsible for any cessation, interruption or delay in the operation of the
    Program or performance of its obligations hereunder due to earthquake, flood, fire, storm, natural disaster,
    act of God or the public enemy, war, armed conflict, terrorist action, strike, lockout, boycott, riot,
    release of hazardous or toxic substances, explosion, accident, or any other causes whether or not of the same class or kind as those specifically above named,
    which are not within the reasonable control of a party.
</ol>



<li><b>Entire Agreement</b>
<ol>
  <li>This License Agreement shall constitute the entire Agreement between the parties hereto.
    Any waiver of this License Agreement shall only be effective if it is in writing and signed by both parties hereto.
    You acknowledge and agree that Summit Route, at its sole discretion, may change, modify, amend, suspend or discontinue any aspect of the Program,
    including its pricing or its website, at any time without notice and without liability to you or to any third party.
    Summit Route reserves the right to impose limits on certain features of the Program at any time,
    without notice and without liability to you or to any third party.
    Further, you acknowledge and agree that Summit Route may amend this Agreement (including any fees and rules) applicable to the Program at any time,
    at Summit Route's sole discretion.
    Any amendment of this Agreement will be reflected on Summit Route's website and is applicable to you and all current users at the time it is posted,
    who agree to be bound thereby.
    You are expected to review the Agreement posted on the website periodically to obtain notice of any changes.
    Continued use of the Program constitutes acceptance of Summit Route's then-current Agreement.
    Section headings are for convenience only and shall not be considered in the interpretation of this Agreement.
</ol>



<li><b>Notices</b>
<ol>
  <li>All notices, demands or requests to Summit Route with respect to this Agreement shall be made in writing to:
    Summit Route LLC, 514 Americas Way #5915, Box Elder, South Dakota, 57719.
</ol>




<li><b>Survival</b>
<ol>
  <li>This Subscriber Agreement shall be applicable for as long as you have the Program downloaded
    or installed and you have not breached any provision of this Subscriber Agreement,
    except that the provisions regarding confidentiality, proprietary rights, indemnity, and non-disclosure shall survive this agreement.
</ol>
</ol>


<p><b>Acceptance</b>
<br>BY CHECKING THE "I ACCEPT" CHECKBOX, YOU AGREE THAT YOU HAVE READ AND UNDERSTAND THIS AGREEMENT AND THAT YOU WILL BE BOUND BY AND COMPLY WITH ALL OF ITS TERMS AND CONDITIONS.
DO NOT CLICK THE "I ACCEPT" CHECKBOX IF YOU DO NOT AGREE TO BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT.

{{end}}
